:root {
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: rgba(97, 97, 97);
    --select-bg: rgba(255, 255, 255, 0.2);
  }
  
.carta-title{
    font-size: 15px;
}
.carta-titleSpell-Modal{
  font-size: 16px;
  padding-top: 30px;
  padding-left: 17px;
}
 
.carta-level{
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px;
}

.carta-title-Monster{
    font-size: 13px;
}

.carta-title-Monster-Modal{
  font-size: 14px;
  padding-top: 30px;
  padding-left: 17px;
}

.carta-Race{
    font-size: 8px;
    margin-bottom: 1px !important;
}
.carta-Race-Modal{
  font-size: 10px;
  margin-bottom: 1px !important;
  margin-left: 20px;
}
.carta-atkDef{
  font-size: 7px ;
  margin-top: 6px;
  margin-right: 7px !important;
}

.fondo{
    background-image: url('/fondo_cartas.jpg');
    background-size: contain;
    
}
.carta-desc{
    font-size: 8px;
    display: -webkit-box; /* para compatibilidad con navegadores basados en WebKit */
    -webkit-line-clamp: 3; /* número máximo de líneas a mostrar */
    -webkit-box-orient: vertical; /* orientación del contenido */
    overflow: hidden; /* oculta el texto que se desborda del contenedor */
    text-overflow: ellipsis;
    line-height: 1;
    
}

.carta-desc-Modal{
  font-size: 10px;
  display: -webkit-box; /* para compatibilidad con navegadores basados en WebKit */
  -webkit-line-clamp: 3; /* número máximo de líneas a mostrar */
  -webkit-box-orient: vertical; /* orientación del contenido */
  overflow: auto; /* oculta el texto que se desborda del contenedor */
  text-overflow: ellipsis;
  line-height: 1;
  height: 75px;
  
}

.carta-description-Modal{
  height: 80px;
  margin-bottom: 11px;
  margin-left: 20px;
  margin-right: 20px;
}

.carta-descriptionMonster-Modal{
  height: 68px;
  margin-left: 20px;
  margin-right: 20px;
}

.carta-descMonster-Modal{
  font-size: 10px;
  display: -webkit-box; /* para compatibilidad con navegadores basados en WebKit */
  -webkit-line-clamp: 3; /* número máximo de líneas a mostrar */
  -webkit-box-orient: vertical; /* orientación del contenido */
  overflow: auto; /* oculta el texto que se desborda del contenedor */
  text-overflow: ellipsis;
  line-height: 1;
  height: 60px;
  
}
.carta-description{
  height: 20px;
  margin-bottom: 11px;
}
.carta-btn{
  height: 15px !important;   
  margin-bottom: 4px !important;
}

.title {
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.title-Modal {
  width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.btn-trap-spell{
    width: 105px !important;
    height: 40px !important;
}

select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 20rem;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
      linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }
    /* Remove focus outline */
    &:focus {
      outline: none;
    }
    /* <option> colors */
    
  }

option  {
    color: inherit;
    background-color: var(--option-bg);
    border-radius: 10px;
  }

.imgNavbar{
  width: 150px;
  height: 60px;
  border-radius: 10px;
}

/* btn */

.button-85 {
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:hover {
  &:before{
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* fin btn */

.Modal {
  position: absolute;
  top: 50px;
  left: 40%;
  right: 50%;
  bottom: 40px;
  width: 350px;
  height: 500px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(78, 78, 78, 0.511);
}

body::-webkit-scrollbar {
  width: 8px;
}
 
body::-webkit-scrollbar-thumb {
  background: #383838;
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #484848;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:active {
  background-color: #545454;
}

body::-webkit-scrollbar-track {
  background: #727272;
  border-radius: 4px;
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #818181;
}


.carta-descMonster-Modal::-webkit-scrollbar {
  width: 8px;
}
 
.carta-descMonster-Modal::-webkit-scrollbar-thumb {
  background: #383838;
  border-radius: 4px;
}
.carta-descMonster-Modal::-webkit-scrollbar-thumb:hover {
  background: #484848;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.carta-descMonster-Modal::-webkit-scrollbar-thumb:active {
  background-color: #545454;
}

.carta-descMonster-Modal::-webkit-scrollbar-track {
  background: #727272;
  border-radius: 4px;
}

.carta-descMonster-Modal::-webkit-scrollbar-track:hover,
.carta-descMonster-Modal::-webkit-scrollbar-track:active {
  background: #818181;
}

.gradientYugicardSearch{
  background: linear-gradient(0deg, rgba(182,182,182,1) 0%, rgba(231,230,230,1) 24%, rgba(228,228,228,1) 77%, rgba(173,173,173,1) 100%);
}

.glassCard{
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}